<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>@ViewBag.Title - Data Exchange Application</title>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")"></script>
</head>
@*<div class="float-right">*@
    <h3><section id="login">
        @Html.Partial("_LoginPartial")
    </section></h3>
@*</div>*@
<body>
<ul id="menu">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("People", "Index", "Persons")</li>
    <li>@Html.ActionLink("Vehicles", "Index", "Vehicles")</li>
    <li>@Html.ActionLink("Logs", "Index", "Logs")</li>
</ul> 
<section id="main">
@RenderBody()
<p>&copy; @DateTime.Now.Year - DataExchangeTool</p>
</section>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</body>
</html>
